body {
  background-color: #1d1d20;
}

header {
  display: flex;
  align-items: center;
  width: 100.8%;
  height: 55px;
  background-color: #1d1d20;
  margin: -8px;
  justify-content: center
}
header img {
  display: flex;
  align-items: center;
  width: 130px;
}
div img{
  margin: 0 10px;
}
footer {
  background-color: #1d1d20;
  color: white;
  padding: 20px 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 99%;
  font-family: Arial;
}

.footer-container {
  display: flex;
  align-items: center;
  width: 87%;
  margin: 0 auto;
}

.footer-links {
  display: flex;
  list-style: none;
  display: block;
  flex-direction: column;
  column-count: 2;
}
.footer-links a {
  text-decoration: none;
  font-family: Arial;
  display: block; /* Переводим ссылки в режим block */
  margin-bottom: 3px; /* Задаем отступ снизу */
}

.footer-links li {
  margin: 0 10px;
}

.copyright {
  margin-left: auto;
}
